logicapps/src/Demo1/workflow.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Create_Archive_File_": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "filePath": "u123\\archive\\@{triggerBody()?['name']}",
                        "body": "@body('Get_file_content_from_new_or_added_file_(v2)')"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "FileSystem",
                        "operationId": "createFile",
                        "serviceProviderId": "/serviceProviders/FileSystem"
                    }
                },
                "runAfter": {
                    "Get_file_content_from_new_or_added_file_(v2)": [
                        "SUCCEEDED"
                    ]
                }
            },
            "Get_file_content_from_new_or_added_file_(v2)": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "filePath": "@triggerBody()?['path']"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "FileSystem",
                        "operationId": "getFileContentV2",
                        "serviceProviderId": "/serviceProviders/FileSystem"
                    }
                },
                "runAfter": {}
            },
            "Delete_file": {
                "type": "ServiceProvider",
                "inputs": {
                    "parameters": {
                        "filePath": "@triggerBody()?['path']",
                        "skipIfFileNotPresent": true
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "FileSystem",
                        "operationId": "deleteFile",
                        "serviceProviderId": "/serviceProviders/FileSystem"
                    }
                },
                "runAfter": {
                    "Create_Archive_File_": [
                        "SUCCEEDED"
                    ]
                }
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "triggers": {
            "When_a_file_is_added_or_updated_in_u123": {
                "type": "ServiceProvider",
                "kind": "Polling",
                "inputs": {
                    "parameters": {
                        "folderPath": "u123"
                    },
                    "serviceProviderConfiguration": {
                        "connectionName": "FileSystem",
                        "operationId": "whenFilesAreAddedOrModified",
                        "serviceProviderId": "/serviceProviders/FileSystem"
                    }
                },
                "recurrence": {
                    "interval": 1,
                    "frequency": "Minute",
                    "timeZone": "W. Europe Standard Time"
                },
                "trackedProperties": {
                    "integrationcode": "u123"
                },
                "splitOn": "@triggerOutputs()?['body']"
            }
        }
    },
    "kind": "Stateful"
}